<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ css_url }}">
  </head>
  <body>
    <div class="log-form">
      <h2>Loggy into your account, Bruiser</h2>
    
        <form method="post">
          <div class="centre">
            <input type="text" title="username" placeholder="broozername" name="broozername" />
            <input type="password" title="username" placeholder="passy pass" name="passy" />
            <button type="submit" class="btn">Login</button>
            <a class="forgot" href="#">Forgot Username stupid idiot?</a>
          </div>
        </form>
      
      <style>
        body {
            margin-top: 500px;
            background-image: url("{{ img_url }}");
            transform: rotate(20deg);
            color: #ef0bb2;

        }
      </style>
    </div>
  </body>
</html>