<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    </head>
    <body>
        <title>GIZMO'S GONNA GET YA!</title>
        <h1>Hey {{ name }}</h1>
        <h2>You're in big boy, here's ur password lol</h2>
        <div>
            <style>
            .sepia {filter: sepia(100%);}
            </style>
            <img class="sepia" src="{{ img_url }}" alt="gizmo in a jacket">
        </div>
        <h2><mark>Wanted, (Dead or alive (preferably dead)) for pissing on the cat; GIZMO!</mark></h2>
        <style>
            body {
                background-image: url("{{ img_url }}");
            }
        </style>
    </body>
</html>   